<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration de PHPUnit : où trouver les tests et quoi charger avant -->
<phpunit bootstrap="tests/bootstrap.php" colors="true" failOnWarning="true">
    <testsuites>
        <testsuite name="TomTroc">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
